.git
node_modules
*/node_modules
.turbo
.vscode
.devcontainer
.github
.nyc_output
coverage
test-workflows
cypress
docs
*.log
*.tmp
.DS_Store
Thumbs.db
*.md
README*
CHANGELOG*
CONTRIBUTING*
LICENSE*
.cache
.pnpm-store
**/*.test.*
**/*.spec.*
